

Body {font-family: ARIAL; font-size: 10pt}


link {text-decoration: none}
A:link {text-decoration: none}
A:visited  {text-decoration: none}

P {font-family: ARIAL, san-serif; font-size: 10pt; color:black}

Span {font-family: IMPACT, san-serif; font-size: 14pt; color:darkred}


H6 {font-family: IMPACT, san-serif; font-weight:100}
H5 {font-family: ARIAL, san-serif; font-weight:700; color:darkgreen; font-size: 08pt}
H4 {font-family: ARIAL, san-serif; font-weight:900; color:darkgreen}
H3 {font-family: IMPACT, san-serif; font-weight:100; color:darkred}
H2 {font-family: IMPACT, san-serif; font-weight:100; color:darkred}
H1 {font-family: IMPACT, san-serif; font-weight:100}
